.LootGen {
    width: 100%;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .filter {
        padding: 0 10px 0 10px;
        flex-basis: 8rem; 
        min-width: 0;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;

        .select {
            min-width: 9rem;
        }
        
        .text_field {
            max-width: 7rem;
        }

    }

    .results {
        flex-grow: 1;
        overflow-y: auto;
        min-width: 500px;
    }


}


