.LootGen {
    flex-grow: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    height: 10%;

    .filter {
        margin: 5px 10px 5px 10px;
        flex-basis: 8rem; 
        min-width: 500px;
        text-align: center;

        .select {
            min-width: 9rem;
        }
        
        .text_field {
            max-width: 7rem;
        }

    }

    .results {
        flex-grow: 1;
        overflow-y: auto;
    }


}


