
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-image: url('assets/bg.png');
  background-repeat: repeat;
  background-position: center center;
  overflow: auto;
}
