
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  background-image: url('assets/bg_big2.png');
  background-repeat: repeat;
  background-position: 150px 550px ;
}
